<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Опитувач</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form action="/answers" method="post" style="width: 300px; border: 1px solid black; background-color:LightGrey; margin: auto;">
    <p>
      Питання 1<br>
      <input name="a1" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a1" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 2<br>
      <input name="a2" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a2" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 3<br>
      <input name="a3" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a3" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 4<br>
      <input name="a4" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a4" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 5<br>
      <input name="a5" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a5" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 6<br>
      <input name="a6" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a6" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 7<br>
      <input name="a7" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a7" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 8<br>
      <input name="a8" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a8" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 9<br>
      <input name="a9" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a9" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <p>
      Питання 10<br>
      <input name="a10" type = "radio" value = "1" checked = "checked"/><label>Так</label>
      <input name="a10" type = "radio" value = "0"/><label>Ні</label>
    </p><hr>
    <button type="submit" name="answer" style="display: block; margin: 10px auto">Надіслати відповідь</button>
  </form>
</body>
</html>